@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: #cbd5e1;
  --scrollbar-size: 7px;

  @apply w-screen h-screen overflow-hidden;
}

body ::-webkit-scrollbar {
  width: var(--scrollbar-size);
}

body ::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

body ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  }
}

.markdown > * {
  all: revert;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: var(--sb-thumb-color);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.scroll-container {
  position: relative;
  overflow: hidden;
}

.scroll-container:hover {
  overflow: auto;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.6s ease, opacity 0.6s ease 0.6s,
    width 0.6s ease;
  opacity: 0;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
