@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  --sb-track-color: #394571;
  --sb-thumb-color: #617aca;
  --sb-size: 14px;
}

body ::-webkit-scrollbar {
  width: var(--sb-size);
}

body ::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body ::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.markdown > * {
  all: revert;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: var(--sb-thumb-color);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
