@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  --sb-track-color: #394571;
  --sb-thumb-color: #617aca;
  --sb-size: 14px;
}

body ::-webkit-scrollbar {
  width: var(--sb-size);
}

body ::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body ::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
